# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/

# Env files
.env
.env.*

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# Misc
.DS_Store
.turbo
.vercel
.firebase
coverage/
.vite
**/.cache